* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #282828;
}
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}
